/* Palette:
Rojo: #B3001B
Verde: #0E3E47
Gris: #D8CBC7
Naranja: #CC3F0C
Amarillo: #9A6D38 */

.navbar{
  background-color: #0E3E47;
}

.navbar a{
  font-weight: bold;
  color: white;
}

.navbar .dropdown-menu, .navbar .dropdown-item{
  background-color: #0E3E47;
  color: white;
}

.navbar .dropdown-item:hover{
  background-color: #166472;
  color: white;
}


form label{
  font-weight: bold;
}


.card{
  border-color: #0E3E47;
}

.card-header{
  background-color: #0E3E47;
  color: white;
  font-weight: bold;
  text-align: center;
}


.badge-laratter{
  background-color: #0E3E47;
  color: white;
}


.btn a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.btn-primary{
  background-color: #0E3E47;
  border-color: #0E3E47;
  font-weight: bold;
  color: white;
}

.btn-primary:hover{
  background-color: #166472;
  border-color: #166472;
}

.btn-facebook{
  background-color: #3B5998;
  border-color: #3B5998;
  color: white;
}

.btn-facebook:hover{
  background-color: #4D78D6;
  border-color: #4D78D6;
}

.follow-link{
  font-weight: bold;
}

.follow-link a{
  color: #0E3E47;
}
